<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:15:00" openTimeout="00:15:00"
          sendTimeout="00:15:00">
          <security mode="None" />
		  </binding>
      </wsHttpBinding>        
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="EnvironmentServices_New.EcoSystemServices">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding0"
          contract="EnvironmentServices_New.IEcoSystemServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://202.205.84.114:80/EcoSystemServices.svc" />
          </baseAddresses>
          <timeouts openTimeout="00:05:00" />
        </host>
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
   
  </system.webServer>

</configuration>
