<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CPFTPSubmitServiceSoapBinding" />
                <binding name="CPFeasibilitySubmitServiceSoapBinding" />
                <binding name="CPFtpFeedbackServiceSoapBinding" />
                <binding name="CPHandleOrderServiceSoapBinding" />
                <binding name="CPHandleSubmitServiceSoapBinding" />
                <binding name="CPOrderStateFeedbackServiceSoapBinding" />
                <binding name="CPQueryServiceSoapBinding" />
                <binding name="CPRequireSubmitServiceSoapBinding" />
                <binding name="CPStateFeedbackServiceSoapBinding" />
                <binding name="CPViewDetailServiceSoapBinding" />
                <binding name="TPOrderFeedbackServiceSoapBinding" />
                <binding name="TPOrderQueryServiceSoapBinding" />
                <binding name="TPOrderRegisterServiceSoapBinding" />
                <binding name="TPOrderSubmitServiceSoapBinding" />
                <binding name="TPPublishServiceSoapBinding" />
                <binding name="TPStateFeedbackServiceSoapBinding" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEcoSystemServices" closeTimeout="00:59:00"
                    openTimeout="00:59:00" sendTimeout="00:59:00">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://219.237.222.107:7080/site/services/CPFTPSubmitService"
                binding="basicHttpBinding" bindingConfiguration="CPFTPSubmitServiceSoapBinding"
                contract="ICPFTPsubmit.ICPFTPSubmit" name="CPFTPSubmitPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPFeasibilitySubmitService"
                binding="basicHttpBinding" bindingConfiguration="CPFeasibilitySubmitServiceSoapBinding"
                contract="CPFeasibilitySubmitService.ICPFeasibilitySubmit"
                name="CPFeasibilitySubmitPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPFtpFeedbackService"
                binding="basicHttpBinding" bindingConfiguration="CPFtpFeedbackServiceSoapBinding"
                contract="CPFtpFeedbackService.ICPFtpFeedback" name="CPFtpFeedbackPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPHandleOrderService"
                binding="basicHttpBinding" bindingConfiguration="CPHandleOrderServiceSoapBinding"
                contract="CPHandleOrderService.ICPHandleOrder" name="CPHandleOrderPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPHandleSubmitService"
                binding="basicHttpBinding" bindingConfiguration="CPHandleSubmitServiceSoapBinding"
                contract="CPHandleSubmitService.ICPHandleSubmit" name="CPHandleSubmitPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPOrderStateFeedbackService"
                binding="basicHttpBinding" bindingConfiguration="CPOrderStateFeedbackServiceSoapBinding"
                contract="CPOrderStateFeedbackService.ICPOrderStateFeedback"
                name="CPOrderStateFeedbackPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPQueryService"
                binding="basicHttpBinding" bindingConfiguration="CPQueryServiceSoapBinding"
                contract="CPQueryService.ICPQuery" name="CPQueryPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPRequireSubmitService"
                binding="basicHttpBinding" bindingConfiguration="CPRequireSubmitServiceSoapBinding"
                contract="CPRequireSubmitService.ICPRequireSubmit" name="CPRequireSubmitPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPStateFeedbackService"
                binding="basicHttpBinding" bindingConfiguration="CPStateFeedbackServiceSoapBinding"
                contract="CPStateFeedbackService.ICPStateFeedback" name="CPStateFeedbackPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/CPViewDetailService"
                binding="basicHttpBinding" bindingConfiguration="CPViewDetailServiceSoapBinding"
                contract="CPViewDetailService.ICPViewDetail" name="CPViewDetailPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/TPOrderFeedbackService"
                binding="basicHttpBinding" bindingConfiguration="TPOrderFeedbackServiceSoapBinding"
                contract="TPOrderFeedbackService.ITPOrderFeedback" name="TPOrderFeedbackPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/TPOrderQueryService"
                binding="basicHttpBinding" bindingConfiguration="TPOrderQueryServiceSoapBinding"
                contract="TPOrderQueryService.ITPOrderQuery" name="TPOrderQueryPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/TPOrderRegisterService"
                binding="basicHttpBinding" bindingConfiguration="TPOrderRegisterServiceSoapBinding"
                contract="TPOrderRegisterService.ITPOrderRegister" name="TPOrderRegisterPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/TPOrderSubmitService"
                binding="basicHttpBinding" bindingConfiguration="TPOrderSubmitServiceSoapBinding"
                contract="TPOrderSubmitService.ITPOrderSubmit" name="TPOrderSubmitPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/TPPublishService"
                binding="basicHttpBinding" bindingConfiguration="TPPublishServiceSoapBinding"
                contract="TPPublishService.ITPPublish" name="TPPublishPort" />
            <endpoint address="http://219.237.222.107:7080/site/services/TPStateFeedbackService"
                binding="basicHttpBinding" bindingConfiguration="TPStateFeedbackServiceSoapBinding"
                contract="TPStateFeedbackService.ITPStateFeedback" name="TPStateFeedbackPort" />
            <endpoint address="http://202.205.84.114/EnvironmentServices_New/EcoSystemServices.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEcoSystemServices"
                contract="EcoSystemServices.IEcoSystemServices" name="WSHttpBinding_IEcoSystemServices">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>